# Dependency directories
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
public/images/minsung1.jpg
public/images/minsung2.JPG
public/images/icon.png